#myslider{
    position: relative;
}
.wrapper{
    margin: 100px auto 0;
    width: 600px;
    overflow: hidden;
    position: relative;
}

.slide-container{
    display: block;
    width: 9999px;
    padding: 0;
    margin: 0;
    transition: all 1s;
}

.slide-container > li{
    display: inline-block;
    position: relative;
    width: 400px;
    height: auto;
    vertical-align: bottom;
    overflow: hidden;
}

.slide-container > li > img{
    width: 100%;
}
.options{
    position: relative;
    top: -100px;
}
.options i{
    color:rgba(255, 0, 0, 0.2);
}
.options i:hover{
    color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}

.options h3{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    bottom: 20px;
    color: rgb(37, 36, 36);
    background-color: rgba(219, 219, 219, 0.7);
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.slide-container input{
    display: none;
}
.slide-container label{
    position: relative;
    left: 88%;
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    vertical-align: bottom;
    border-radius: 50%;
}
.like{
    color: red!important;
}
#left{
    position: absolute;
    top: 45%;
    left: 22%;
    border: 10px solid grey;
    padding: 5px;
    border-radius: 50%;
    color:#3d3b3b;

}
#right{
    position: absolute;
    top: 45%;
    left: 75%;
    border: 10px solid grey;
    padding: 5px;
    border-radius: 50%;
    color:#3d3b3b;
}
#right:hover, #left:hover{
   border-color: #c42a2a;
   cursor: pointer;
}

.effect{
    transform: scaleX(-1);
}